

.bt1{
    height: 140px;
    width: 290px;
    background-color: #4CAF50;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 30%;
    border-radius: 15px;
}
.bt1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
img{
    width: 800px;
    height: 650px;
    margin-left: 50px;
   
   
}
.timer{
    margin-left:45%;
    font-size: 30px;

}
#gif1{
    display: none;
}


/* animation */
.color-changing-text{
    display: none;
}
.color-changing-text {
    font-size: 56px;
    font-weight: bold;
    animation: changeColor 1s linear infinite;
    margin-left: 30%;
}

@keyframes changeColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: purple; }
}

/* shemogdebuli */


.wrapperlight{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    animation: clubLights 2s linear infinite;
    height: 1450px;
}

.light {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    animation: blink 1s infinite;
   
}

@keyframes clubLights {
    0% {
        background: #f00;
    }
    20% {
        background: #0f0;
    }
    40% {
        background: #00f;
    }
    60% {
        background: #f0f;
    }
    80% {
        background: #ff0;
    }
    100% {
        background: #f00;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

